.container {
    width: 1600px;
    margin: 0 auto;
}
.container_1 { 
    height: 880px;
    background: url(../Verstka2/img/Layer_96.jpg);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Source Sans Pro', sans-serif;
}
.nav {
    color: #ffff;
}
.text_1 {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.t1 {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 150px;
    color: #f5f5f5
}
.t2 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    color: #11749e
}
.t3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #ffff;
}
button {
    background-color: Transparent;
    border-radius: 50%;
    padding: 1.2%;
}
.container_2 {
    background: #11749e;
    height: 734px;
}
.img2 {
    background-color: #2e85aa;
    border-radius: 50%;
    padding: 4%;
}
.blok2 {
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}
.text_2 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 8%;
    padding-top: 10%;
}
.t1_2 {
    text-align: center;
    margin-bottom: 8%;
    display: flex;
    justify-content: space-between;
    padding: 0 4.6% 0 4.6%;
    font-family: 'Lato', sans-serif;
    color: #ffff;
    font-size: 20px;
}
.t2_2 {
    font-family: 'Ubuntu', sans-serif;
    color: #ffff;
    font-size: 25px;
}
.container_3 {
    display: flex;
    background: #222222;
}
.text_3 {
    width: 50%;
    padding: 6% 0 0 9%;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    
    color: #ffff;
}
.t1_3 {
    font-size: 16px;
}
.t2_3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
}
.container_4 {
    display: flex;
    background: #f3f3f3;
}
.text_4 {
    width: 50%;
    padding: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    
    color: #222222;
}
.t1_4 {
    font-size: 16px;
}
.t2_4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
}
.blok5 {
    display: flex;
    justify-content: space-between;
    padding: 0 7% 0 7%;
}
.t1_5 {
    text-align: center;
    margin-bottom: 8%;
    display: flex;
    justify-content: space-between;
    padding: 0 5.5% 0 5.5%;
    font-family: 'Lato', sans-serif;
    color: #222222;
    font-size: 20px;
}
.t2_5 {
    font-family: 'Ubuntu', sans-serif;
    color: #11749e;
    text-transform: uppercase;
    font-size: 25px;
}
.text_5 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #222222;
    font-size: 35px;
    margin-bottom: 8%;
    padding-top: 10%;
}
.text_5_2 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #222222;
    font-size: 30px;
    margin-bottom: 5%;
}
.container_6 {
    background: #11749e;
    display: flex;
    justify-content: space-between;
    height: 250px;
    padding: 0 16% 0 16%;
}
.text_6 {
    padding-top: 5%;
    color: #ffff;
    font-size: 95%;
    font-family: 'Ubuntu', sans-serif;
}
.write {
    width: 5%;
    height: 20%;
    padding-top: 7.5%;
}
.container_7 {
    height: 880px;
    background-image: url(../Verstka2/img/Layer_87.jpg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18% 0 15%;
}
.t1_7 {
    font-size: 21px;
    color: #ffff;
}
.t2_7 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffff;
}
.t3_7 {
    font-family: 'Ubuntu', sans-serif;
    color: #ffff;
    text-transform: uppercase;
    font-size: 15px;
    background: #11749e;
    padding: 2% 20% 2% 4%;
}
.text_8 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #222222;
    font-size: 35px;
    margin-bottom: 8%;
    padding-top: 10%;
}
.text_8_2 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #222222;
    font-size: 30px;
    margin-bottom: 5%;
}
.blok8 {
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}
.t1_8 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    padding: 0 14% 0 14%;
}
.t2_8 {
    font-size: 20px;
    color: #11749e;
}
.container_9 {
    background-image: url(../Verstka2/img/Layer_97.jpg);
    height: 800px;
}
.text_9 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 8%;
    padding-top: 10%;
}
.nep {
   display: flex;
    justify-content: space-between;
    padding: 0 12% 0 12%;
}
.message {
    background-color: Transparent;
    width: 74.8%;
    padding: 1% 0 8% 1%;
    margin: 0 12% 0 12%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}
.submit {
    background-color: #11749e;
    color: #ffff;
    width: 10%;
    padding: 0.7% 1% 0.7% 1%;
    margin-left: 45%;
}
.t1_9 {
    background-color: Transparent;
    width: 30%;
    padding: 1% 0 1% 1%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 3% 10% 3% 10%;
    background-color: #222222;
    color: #ffffff;
}
.position {
    position: relative;
}
.letter1 {
    position: absolute;
    font-family:'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 200px;
    opacity: 0.2;
    color: #ffffff;
    padding: 0 43% 0 43%;
    line-height: 0.3px;
}
.letter2 {
    position: absolute;
    font-family:'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 190px;
    opacity: 0.2;
    color: #222222;
    padding: 0 46% 0 46%;
    line-height: 0.3px;
}
